@media (min-width: 1300px){
		.content-container{
		max-width: 1240px;
		margin-top: 5%;

		}

}

.card{


	background-color:#808080!important;
	color: white;
	margin-top: 20px;
	min-height:90px;
	border-style:solid;
	border-radius:10px;
    padding: 0px 2px 2px 0px;
    border-color: beige;
    border-width: unset;

}

.jumbotron{

	min-height: 350px;
	padding: 1rem 2rem !important;
	margin-bottom: 2rem;
    background-color: #A9A9A9 !important;
    border-radius: 10px;
    border-style: solid;
    border-width: thick;
    border-color: beige;
    color: whitesmoke;

}
.first-row{

	float:left;
    height:100px;

}
.col-content{

	float:left

}
.label-content{

	float:left
}

.content-date{
           margin-top:18px;
           font-family: sans-serif;
           font-size: 1.5em;
           padding-left: 3%
}

.logo{
        float:left;
        font-family:sans-serif;
        color:white;
        font-size:20px;
        width: 15px;
        height: 15px;
		margin-top: -26%;
		margin-left: -4%;

}
.search-bar{
        width: 60% !important;
        margin-top:8px;
}

.btn{
        margin-left:2%;
        margin-top:8px;
}

.content-description{
            margin-top:10px;
            margin-left:2px;
            font-family: sans-serif;
            font-size: 1.5em;
}

.bg-gradient{
		        background-image: linear-gradient(to bottom right, #7f7fd5, #86a8e7, #91eae4);
		        background-size: cover;
			}

.bg-gradient-error{
            background-image: linear-gradient(to right, #acb6e5, #86fde8);
}

.footer{

		border: 2px solid;
		background-color: #343a40;
		margin-top:10%

}

.footer-terms{
	    text-align: center;
		font-size:15px;
		margin-top:15px;
}

.copyright-text{
            text-align:center;
            color:snow;
}

.content-min-temp{
            float:left;
            width:5px;
            height:5px;
}


.city_name{
        font-family: sans-serif;
        font-size: 2.5em
        }

.curr_temp{
        font-size: 1.5em;
        font-family: sans-serif;
        margin-top:15px;
}
.curr_wind{
       margin-top: 20%;
    font-family: sans-serif;
    font-size: 1.5em;
}
.curr_humidity{
        margin-top: 20%;
        font-size: 1.5em;
        font-family: sans-serif;
}
.curr_pressure{
            margin-top:20%;
            font-family: sans-serif;
            font-size: 1.5em;
}

.temp-icon{
        float: left;
        margin-top: 0%;
        width:60;
}

.wind-speed-icon {
    float: left;
    margin-top: 18%;
    height:60;

}
.icon{

	width:60;
}

.navbar-brand{

	height:10px !important;
}

.week-heading{
        font-family: sans-serif;
        font-size: 1.25em;
}

.heading{
    font-family: sans-serif;
    font-size: 2em;
    margin-left: -8%;
}

.btn-success{
    color: #fff;
    background-color: #668cff !important;
    border-color: #668cff !important;
}

.cloud-desc{
           font-family: sans-serif;
           font-size: 1.25em;
}
